.font {
    font-style: italic;
    /*the text is shown in italics (مائل) */
    /* font-style: oblique ;   oblique is very similar to italic, but less supported ,each property  works with a different font type */
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.font2 {
    line-height: 3;
}

.shadow {
    font-size: 25px;
    font-weight: bolder;
    line-height: 2;
    text-shadow: 0px 5px 5px red,
        0px -5px 5px yellow;
}

.wrap1,
.wrap2 {
    width: 200px;
    border: 1px solid black;
}

.wrap1 {
    word-wrap: normal;
    /*If a word is too long to fit within the element's area, it expands outward*/
    /*default*/
}

.wrap2 {
    word-wrap: break-word;
    /*allows you to force the text to wrap - even if it means splitting it in the middle of a word*/
}